# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
/lib/gen

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# 忽略所有 Pods 目录
ios/Pods/
macos/Pods/

# 忽略 Xcode 工作区本地数据
ios/.symlinks/
ios/Runner.xcworkspace/contents.xcworkspacedata
macos/Runner.xcworkspace/contents.xcworkspacedata

# 忽略用户特定的 Scheme 配置（可选，除非你需要共享）
ios/Runner.xcodeproj/xcuserdata/
macos/Runner.xcodeproj/xcuserdata/

# 忽略所有 Swift/Objective-C 模块缓存
ios/.symlinks/

# 忽略 macOS 系统生成的文件
**/.DS_Store

*.g.dart
*.freezed.dart
