name: Flutter Android Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: download flutter environment
        uses: subosito/flutter-action@v2.14.0
      
      - name: cache Flutter dependencies
        uses: actions/cache@v4
        with:
          path: ${{ env.PUB_CACHE }} 
          key: ${{ runner.os }}-pub-${{ hashFiles('pubspec.lock') }}
          restore-keys: ${{ runner.os }}-pub-
          
      - name: Install dependencies
        run: flutter pub get

      - name: Analyze project source
        run: flutter analyze

      - name: Run build
        run: flutter build apk --release
